* {margin: 0; padding: 0; box-sizing: border-box;}
body {background-color: azure;}

header {
    background-color: #e0e0e0;
    padding: 25px;
    text-align: center;
}

nav ul {list-style-type: none;
     display: flex;
      justify-content: center;
       gap: 20px;}

nav a {text-decoration: none; 
    color: black; font-weight: 
    bold;
     padding: 5px;}

nav a:hover {color: rgb(23, 6, 154); 
    border-bottom: 2px solid blue;}

.section {
    margin: 30px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {color: darkblue; 
    margin-bottom: 10px;
margin-top:15px;}

h2 {color: darkblue; 
    margin-bottom: 10px;}

table {width: 100%; 
    border-collapse: collapse; 
    margin-top: 15px;}

tbody tr:hover {
    background-color: #f5f5f5;
}


th, td { border: #ccc solid 1px;
    padding: 10px; 
    text-align: left;}

th {background-color: lightblue;}

form {
    margin-top: 15px;
}

form input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: darkblue;
}
